.mt8 {
    margin-top: 8px;
}

.mt20 {
    margin-top: 20px;
}

.text-right {
    text-align: right;
}

.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}